body{
	align-items: center;
	background : #595a5fde;
	-webkit-background-size: cover;
	background-size: 25px 25px;
    background-size: 100% 100%;
	background-attachment: fixed;
}

.Fotos
{
	width: 100px;
	height: 100px;
}


.Cartas{
	-webkit-box-shadow: inset 0px 0px 10px #56565600;
	margin: auto;
	max-width: 120%;
	max-height: 140%;
}

.Cartass{
	-webkit-box-shadow: inset 0px 0px 10px #56565600;
	margin: auto;
	width: 71.3px;
	height: 50px;
	float:left;
	margin-right: 35px;

}


.divjugadores{
	position: absolute;
	top: 80px; 
	width: 400px;
	height: 900px;
	padding: 10px;
	border: 2px solid #121111de;
	background: #ffffffa8;
	margin-left: 240px;

}

#Tarj1{
    -webkit-box-shadow: inset 0px 0px 10px #56565600;
	margin: auto;
	max-width: 7%;
	max-height: 7%;


}

.divtablero{

	background: #37822a;
	width: 1300px;
	height: 700px;
	padding: 10px;
	border: 5px solid #121111de;
	position: absolute; 
	left: 680px;
	top: 80px;

}

.BotonSobrantes{
	width: 100px;
	height: 100px;
	margin-left: 1650px;
	position: absolute; 

	top: 761px;
	
}
 
.ImagenBotonSobrantes{
	width: 70px;
	height: 70px;
	padding: 10px;
	
	top: 30px;
}

.BotonEnviarJugada{
	width: 100px;
	height: 50px;
	margin-left: 1650px;
	position: absolute; 

	top: 870px;
}

.divcartas{
position: absolute;
    left: 677px;
    border: 2px solid #121111de;
    top: 823px;
    width: 1225px;
    height: 178px;
    background-image: url(https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380_960_720.jpg); 
}

.TITULO{

	font-family: 'Bowlby One SC', cursive;

}

.letrasjugadores{
	font-family: 'Josefin Sans', sans-serif;

}

.robaresmalo{
	width: 500px;
	height: 100px;
	margin-left: 1650px;
	position: absolute; 
	top: 740px;
	font-family: 'Josefin Sans', sans-serif;

}