        * {

            margin: 0;

            padding: 0;

        }

        html,body {

            height:100%;

        }


        footer {

            position: relative;


            margin-top: 82px;


            height: 80px;

            padding:5px 0px;

            clear: both;

            background: #585858;

            text-align: center;

            color: #fff;

        }

 

 